venv
.idea
models/fast_text/*.test
models/fast_text/*.train

output/wikipedia2008_fi_lemmatized.txt 

notebooks/.ipynb_checkpoints/

*.model
*.npy
models/word2vec/*.model
models/fast_text/*.bin
models/word2vec/*.npy
*.zip
*.wikipedia2008_fi_lemmatized.txt
*__pycache__/
